/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    width: 90vw;
    margin: auto;
    border: 2px solid red;
}
#header {
    background-color: #000;
    width: 110%;
    height: 68px;
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}
span {
    color: #fff;
}
img {
    max-width: 100%;
}